jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=com.orgzly
testPackageName=com.orgzlyi.android
productFlavors=fdroid
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/com.orgzly/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/com.orgzly/app/src/androidTest/java/com/orgzly/android/
